@font-face {
  font-family: 'Merienda';
  src: url('fonts/MeriendaOne-Regular.woff2') format('woff2'),
  url('fonts/MeriendaOne-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Benguiat';
  src: url('fonts/BenguiatBold.woff2') format('woff2'),
  url('fonts/BenguiatBold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Benguiat';
  src: url('fonts/BenguiatStd-Book.woff2') format('woff2'),
  url('fonts/BenguiatStd-Book.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Benguiat';
  src: url('fonts/BenguiatStd-BookItalic.woff2') format('woff2'),
  url('fonts/BenguiatStd-BookItalic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
}
